body{ background-color: #158a7a;
    color: #020000;
width: 300px;
right: 5px;
margin: auto;
}
button { color: #24ff17;
background-color: #0f1716;
}
input{ background-color: #1bd5c0;
    color: #050517
}






